.container {
    width:100vw;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: 'relative';
    background-image: linear-gradient(to left #ffff #dddf);
}

.container .h1 {
    position:absolute;
}

